
 .palette {
    display: grid;
    max-width: 1200px;
    grid-gap: 12px;
    padding: 0;
    list-style: none;
   }
  
   .color-card {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
   }
  
   .color-card .is-active {
    transform: perspective(400px), rotateX(10deg);
   }
   .color-swatch {
    height: 128px;
    cursor: pointer;
  
   }
   .color-meta {
    padding: 18px;
    font-weight: 700;
   }
/* modul 9 setTimeout setInterval */
  .alert {
   display: none;
  }

  .is-visible {
   display: inline-block;
   width: 100px;
   background-color: green;
   color: #fff;
   padding: 10px;
   text-align: center;
  }